@model  List<Inspection.Web.Models.InwardDataModel>

@{
    ViewBag.Title = "Data Tables";
    ViewBag.pTitle = "Data Tables";
    ViewBag.pageTitle = "Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int Count = 1;
}

@section styles{
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
}
<style>
#box1 {
   
    background-color: #FFCCCC; /* Light red as the initial color */
    animation-name: animate1;
    animation-duration: 1s;
    animation-iteration-count: infinite; /* Loop the animation infinitely */
    animation-timing-function: linear; /* Use linear timing for smooth transition */
}

@@keyframes animate1 {
    0%   {background-color: #FFCCCC;}
    20%  {background-color: #FFFFCC;}
    40%  {background-color: #CCFFFF;}
    60%  {background-color: #CCFFCC;}
    80%  {background-color: #FFCCCC;}
    100% {background-color: #FFCCCC;}
}
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Inspection Process</h5>
            </div>
            <div class="card-body">
                <table id="alternative-pagination" class="table nowrap dt-responsive align-middle table-hover table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Sr.</th>
                            <th>Inward Date</th>
                            <th>Inward Time</th>
                            <th>Job No.</th>
                            <th>Part No</th>
                            <th>Inspection Type</th>
                            <th>Quality Stage</th>
                            <th>Rev</th>
                            <th>Actual Rev</th>
                            <th>Inward Qty</th>
                            <th>Go</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Statuschange == false)
                            {
                                <tr id="box1">
                                    <td>@Html.DisplayFor(modelItem => Count)</td>
                                    <td>@Html.DisplayFor(modelItem => item.InwardDate, "{0:dd, MMM yyyy}")</td>
                                    <td>@Html.DisplayFor(modelItem => item.InwardTime)</td>
                                    <td>@Html.DisplayFor(modelItem => item.JobNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Partno)</td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.InspectionType) <br>
                                        @Html.DisplayFor(modelItem => item.ProcessStage)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.QualityStage)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ERev)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ActualRev)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Qty)</td>
                                    <td><button onclick="gobutton('@item.id','@item.InspectionType','@item.JobNo')" class="btn rounded-pill btn-primary waves-effect waves-light">Go</button></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => Count)</td>
                                    <td>@Html.DisplayFor(modelItem => item.InwardDate, "{0:dd, MMM yyyy}")</td>
                                    <td>@Html.DisplayFor(modelItem => item.InwardTime)</td>
                                    <td>@Html.DisplayFor(modelItem => item.JobNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Partno)</td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.InspectionType) <br>
                                        @Html.DisplayFor(modelItem => item.ProcessStage)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.QualityStage)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ERev)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ActualRev)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Qty)</td>
                                    <td><button onclick="gobutton('@item.id','@item.InspectionType','@item.JobNo')" class="btn rounded-pill btn-primary waves-effect waves-light">Go</button></td>
                                </tr>
                            }

                            Count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!--<div class="modal fade" id="quantityModal" tabindex="-1" role="dialog" aria-labelledby="quantityModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">Add Sample Quantity </h5>-->
@*<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>*@
<!--</div>
<div class="modal-body">
    <label for="qtyInput">Quantity:</label>
    <input type="number" id="qtyInput" class="form-control" placeholder="Enter Quantity">
</div>
<div class="modal-footer">-->
@*<button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>*@
<!--<button type="submit" class="btn btn-success" id="add-btn" onclick="saveQuantity()">Update</button>
            </div>
        </div>
    </div>
</div>-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
     @*function openQuantityModal(id, status) {
        $('#quantityModal').modal('show');
        $('#qtyInput').val(''); // Clear the input field
        $('#qtyInput').attr('data-id', id); // Set data attribute for ID
        $('#qtyInput').attr('data-status', status); // Set data attribute for status
    }

    function saveQuantity() {
        var id = $('#qtyInput').attr('data-id');
        var status = $('#qtyInput').attr('data-status');
        var qty = $('#qtyInput').val();
        var url = '@Url.Action("Index", "visualinspection"  )' + '?id=' + id + '&value=' + status + '&qty=' + qty;
        window.location.href = url;
    }*@
    function gobutton(id, status, jobNo) {
        debugger
        var selectvalue = status;
         var url = '@Url.Action("Index", "visualinspection")' + '?id=' + id + '&value=' + selectvalue + '&jobNo=' + jobNo;
        window.location.href = url;

    }
</script>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="~/Content/assets/js/pages/datatables.init.js"></script>
    <!-- App js -->
    <script src="~/Content/assets/js/app.js"></script>
}