@model  Inspection.Web.Models.mAINPROGRESSModel
@using Inspection.Web.Service

@{
    ViewBag.Title = "_SubIndex";
}


<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header bg-light p-3">
            <h5 class="modal-title" id="exampleModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close" id="close-modal"></button>
        </div>
        @using (Html.BeginForm("AddData", "visualinspection", FormMethod.Post))
        {
            <div class="modal-body">
                @Html.HiddenFor(model => Model._INWARD.id)
                <div class="row g-3">
                    <div class="col-lg-12">
                        <div>
                            @Html.LabelFor(model => model._submodel.inspectiondate, "Inspection Date", new { @class = "form-label" })
                            @Html.EditorFor(model => model._submodel.inspectiondate, new { htmlAttributes = new { @class = "form-control", @type = "date", @placeholder = "Select Date", @required = "required" } })
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div>
                            @Html.LabelFor(model => model._submodel.StartTime, "Start Date", new { @class = "form-label" })
                            @Html.EditorFor(model => model._submodel.StartTime, new { htmlAttributes = new { @class = "form-control", @type = "time", @placeholder = "Select Time", @required = "required" } })
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div>
                            @Html.LabelFor(model => model._submodel.EndTime, "End Date", new { @class = "form-label" })
                            @Html.EditorFor(model => model._submodel.EndTime, new { htmlAttributes = new { @class = "form-control", @type = "time", @placeholder = "Select Time", @required = "required" } })
                        </div>
                    </div>
                    <div>
                        @Html.LabelFor(model => model._submodel.InspectedQty, "Inspection Qty", new { @class = "form-label" })
                        @Html.EditorFor(model => model._submodel.InspectedQty, new { htmlAttributes = new { @class = "form-control", @placeholder = "Inspection Qty", @required = "required" } })
                    </div>
                    <div class="">
                        @Html.LabelFor(model => model._submodel.User, new { @class = "form-label" })
                        @{
                            var inspectionService = new Inspection.Web.Scripts.Inspectionservice();
                            var userSelectList = inspectionService.Getuser();
                        }

                        @Html.DropDownListFor(model => model._submodel.User, new SelectList(userSelectList, "Value", "Text"), "Select", new { @class = "form-select mb-3", id = "disabledInput" })
                        @Html.ValidationMessageFor(model => model._submodel.User, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-success" id="add-btn">
                        Add Inspection
                    </button>
                </div>
            </div>
        }
    </div>
</div>